footer {
  background-color: $bck-primary;
  width: 100%;
  padding: 0.5rem 12%;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  a{
    text-decoration: none;
    color: $white;
    margin: 0 0.75rem 0 0;
  }
  :hover{
    color: $accent-text;
  }

}